name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          architecture: x64
      - name: Build
        run: ./gradlew build
      - name: Check
        run: ./gradlew check
      - uses: actions/upload-artifact@v4
        with:
          name: Recast NavMesh Mundus Editor plugin
          path: plugin/build/libs/recastt-plugin.jar
