name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          architecture: x64
      - name: Build
        run: ./gradlew build
      - name: Check
        run: ./gradlew check
      - name: Add commit sha to the editor plugin jar file
        run: |
          file_name=$(ls plugin/build/libs/)
          mv "$file_name" "${file_name%.*}-${{ github.sha }}.${file_name##*.}"
      - uses: actions/upload-artifact@v6
        with:
          name: Recast NavMesh Mundus Editor plugin
          compression-level: 9
          path: plugin/build/libs/recast-plugin-*.jar
